/* * {
  border: black solid 2px;
} */
body {
  display: flex;
  flex-direction: column;
}

nav {
  height: 25vh;
  display: flex;
  flex-direction: column;
}

.nav-display {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-img {
  height: 7vh;
}
.admin {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nav-buttons {
  height: 8vh;
  width: 20vw;
}

.header-img {
  height: 16vh;
  width: 7vw;
} 

.admin-button {
  height: 8vh;
  width: 20vw;
}

.cards-section {
  height: 75vh;
  width: 100vw;
  display: grid;
}


