* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

nav {
  height: 25vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #18392b;
  color: #fdfaf1;
}

.nav-display {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-img {
  height: 7vh;
}

.admin {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nav-buttons {
  height: 8vh;
  width: 20vw;
}

.header-img {
  height: 16vh;
  width: 7vw;
} 

.admin-button {
  height: 8vh;
  width: 20vw;
}

.cards-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #204c39;
}

.remedies {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #fdfaf1;
  padding-left: 30px;
  height: 15vh;

}

.cards-grid {
  height: 110vh;
  width: 98vw;
  margin: 2px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.card {
  border: 1px black solid;
  height: 100%;
  width: 98%;
  background-color: #fdfaf1;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 45%;
  background-size: cover;
  /* contain: background-image; */

}
.card-share {
  height 10vh;
}
.card-img {
  height: 6vh;
}

.card-body {
  padding: 20px;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

